*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgba(0, 255, 0, .25);
  border: 1px solid black;
}

.container{
  width: 70%;
  margin: 0 auto;
  border: 1px dashed black;
  text-align: center;
}

/* header */
header{
  height: 80px;
  background-color: blue;
  display: flex;
  align-items: center;
}

.top{
  width: 70%;
  margin: 0 auto;
  border: 1px dashed black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header .logo{
  height: 25px;
  width: 90px;
  background-color: white;
}

header ul{
  display: flex;
  background-color: aqua;
  list-style: none;
}

/* sezione con immagine di background */
main .background{
  background-color: rgb(112, 112, 255);
  /* eliminare altezza */
  height: 300px;
}